@width: 10px;
@height: @width + 10px;
@red: #F00;
@mobilewidth:400px;


html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffcc00;
  @media (max-width: @mobilewidth) {
    & {
      background-color: #ffaaff;
    }
  }
}

#map {
  width: 50%;
  height: 100%;

  @media (max-width: @mobilewidth) {
    & {
      width: 100%;
      height: 50%;
    }
  }
}
